body{
    font-family: 'Poppins', sans-serif;

} 
h1{
    font-size: 50px;
    
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.linein{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width2 img{
    width: 80%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-item{
    box-shadow: sandybrown 10px 10px 40px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
}
.experiences-item{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}
#web-dev-exp{
    border-image: linear-gradient(blue , tomato);
    border-left: 7px solid;
    border-image-slice: 1;
}
#web-exp{
    border-image: linear-gradient(red,blue);
    border-left: 7px solid;
    border-image-slice: 1;
}
footer p{ 
    text-align: center;

}